/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#7e7e7e;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	/*background:#353535 url(../images/main_bg.gif) repeat-x left top;*/
	background:#CD5C5C;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:26px;
	font-weight:normal;
	line-height:1.2em;
	color:#646364;
	text-transform:none;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	text-align:justify;
}
a {
	color:#5286bc;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	background:no-repeat center 78px;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:107px;
}
h1 {
	margin:0;
	padding:20px 0 0 20px;
	font-size:45px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
	letter-spacing:2px;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:14px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#ffffff;
}
.slider {
	margin:0;
	padding:0 0 32px;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0;
	padding:16px 0 0;
	height:66px;
	float:right;
}
.menu_nav ul {
	list-style:none;
	padding:0 0 0 2px;
	height:66px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:no-repeat right center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:24px;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	text-transform:none;
	text-align:center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#66ccff;
	background:none;
}
.content {
	padding:0 0 24px;
	border-bottom:1px solid #404040;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px 0px;
	width:960px;
	background:#fff;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:740px;
}
.content .mainbar h2 {
	margin-bottom:8px;
	border-bottom:5px solid #006699;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	border:1px solid #e5e5e5;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px 0px 0px;
}
.content .mainbar .post_content {
	float:right;
	width:440px;
}
.content .mainbar .post_content strong {
	color:#7e7e7e;
}
.content .sidebar {
	padding:0;
	float:left;
	width:200px;
	font-weight:bold;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:6px 20px 24px;
}
.content .sidebar h2 {
	border-bottom:5px solid #006699;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#7e7e7e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
	border-bottom:2px solid #ccc;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:160px;
}
ul.sb_menu li a {
	color:#7e7e7e;
	text-decoration:none;
	margin-left:0;
	padding:4px 8px 4px 0;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#7e7e7e;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#5286bc;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0;
	border-bottom:2px solid #5689bd;
}
p.infopost {
	margin:0;
	padding:6px 0;
	text-transform:none;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	font-weight:bold;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
}
.article a.com {
	display:block;
	float:right;
	margin:-36px 0 0;
	padding:6px 12px 2px;
	font-size:30px;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#fff;
	background:#5689bd;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
}
.post_content a.rm {
	display:block;
	padding:6px 0;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	text-transform:none;
	color:#5286bc;
	text-decoration:none;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	line-height:16px;
	color:#7e7e7e;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 2px 0 0;
	padding:7px 0;
	width:30px;
	text-decoration:none;
	text-align:center;
	background:no-repeat center center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#5689bd;
}
.content p.pages a {
	color:#7e7e7e;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	
	/*background:#006699;*/
	background:#303030;
	border-top:1px solid #282828;
	border-bottom:1px solid #404040;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#fff;
}
.fbg h2 {
	margin-bottom:24px;
	padding-bottom:8px;
	color:#fff;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#fff;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#5689bd;
	text-decoration:underline;
	background-image:url(../images/li_a.gif);
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#5689bd;
	text-decoration:underline;
	font-weight:normal;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:12px 20px;
	float:left;
}
#formsearch {
	margin:0;
	padding:0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 10px;
	float:left;
	width:172px;
	font-size:12px;
	line-height:16px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	border-top:1px solid #282828;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:920px;
	line-height:1.5em;
	color:#fff;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#5689bd;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#5689bd;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}

.error
{
   color:Red;   
   font-size:12px;
}



.failure
{
    font-size:12px;
    color:Red;  
}


/*hoverpopups type 1*/

#popup
{
	color: #000;
	text-align: center;
}

#popup a, #popup a:visited
{
	position: relative;
	display: block;
	line-height: 15px;
	text-align: center;
	padding: 0 5px;
	margin: 0;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	top: 0px;
	height: 16px;
}

#popup a span
{
	display: none;
}

#popup a:hover
{
}

/* the IE correction rule */

#popup a:hover
{
	color: White;
	background-color: Orange;
	text-indent: 0; /* added the default value */
}

#popup a.grow:hover img
{
	height: 400px;
}

#popup a:hover span
{
	display: block;
	position: absolute;
	top: 0px;
	left: 570px;
	width: 250px;
	margin: 0px;
	padding: 10px;
	color: #006699;
	font-weight: normal;
	background: #e5e5e5;
	text-align: left;
	border: 1px solid #666;
	visibility: visible;
	top: 0;
	left: 60px;
	background-image: url('images/textbackground.gif');
	border-style: double;
	border-width: medium;
}

.btn {
	font-family: 'Maven Pro', sans-serif;
	cursor:pointer;
	background: #242424;
	border: 1px solid #242424;
	padding: 10px 20px;
	outline:none;
	color: #ffffff;
	font-size: 1em;
	text-transform: capitalize;
	-webkit-appearance: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}
.btn:hover{
	background: #006699;
	border: 1px solid #57c5a0;
}

